<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="../static/dashboard.css">
</head>
<body>
    <h1>Dashboard</h1>
    <div class="database_view">
        <h1>Interest Table</h1>
        <button id="Retrieve">Retrieve Data</button>
        <table id="table">
            <tr>
                <td>Email</td>
                <td>Interest Level</td>
                <td>Service</td>
            </tr>
        </table>
    </div>
    <script src="../static/dashboard.js"></script>
</body>
</html>